In [2]:
from data import global_df

df = global_df

df.head()

      date  confirmed  death  recovered
0  1/22/20        557     17         30
1  1/23/20        657     18         32
2  1/24/20        944     26         39
3  1/25/20       1437     42         42
4  1/26/20       2120     56         56